/*webkit-sassui-inline-element Start*/
/*webkit-sassui-inline-element End*/
html, body {
  height: 100%;
}

body {
  font-size: 14px;
}

h2 {
  border-left: 3px solid #ccc;
  padding-left: 10px;
}

h3 {
  color: #999;
  font-size: 14px;
  font-weight: normal;
}

.blank-10 {
  height: 10px;
}

.webkit-sassui-inline-icon-text1 {
  font-size: 14px;
  line-height: 1.6;
}

.webkit-sassui-inline-icon-text1 > * {
  vertical-align: middle;
}
